.root {
    -fx-background-color: -app-bg;
}

/* TOP BAR */
.top-bar {
    -fx-background-color: -sidebar-bg;
    -fx-padding: 10 14;
}

/* SIDEBAR */
.sidebar {
    -fx-background-color: -sidebar-bg;
    -fx-pref-width: 210;
}

/* USER MENU */
.user-menu {
    -fx-background-color: -card-bg;
    -fx-text-fill: -text-color;
    -fx-pref-width: 140;
    -fx-min-width: 140;
    -fx-max-width: 140;
}

/* USER MENU POPUP */
.context-menu {
    -fx-pref-width: 140;
    -fx-min-width: 140;
}

.context-menu .menu-item {
    -fx-pref-width: 140;
}